<h1><%= @doctor.name %></h1>
<h4><%= @doctor.department %></h4>
<ul>
  <% @doctor.appointments.each do |appointment| %>
    <li> <%= appontment.appointment_datetime %> </li>
    <li> <%= appontment.patient.name %> </li>
  <% end %>
</ul>
