<h1><%= @doctor.name %></h1>
<h4><%= @doctor.department %></h4>
<ul>
  <% @doctor.appointments.each do |appointment| %>
    <li> <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> </li>
    <li> <%= appointment.patient.name %> </li>
  <% end %>
</ul>
